.Rproj.user
.Rhistory
.RData
.Ruserdata

footer.html
googleAnalytics.html
header.html

index.Rmd
project1.Rmd
project2.Rmd
archive.Rmd
resources.Rmd
references.Rmd
cv.Rmd

/cv/*

/images/*

/CurriculumVitae_1p_EN_09-21_ChristianAeschbacher_files/*
CurriculumVitae_1p_EN_09-21_ChristianAeschbacher.htm